BETTER_AUTH_SECRET=replace-with-at-least-32-characters
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
APP_BASE_URL=http://localhost:3000
AUTH_ALLOWED_EMAILS=aidan@getaxiom.ca,riley@getaxiom.ca
AUTH_ADMIN_EMAILS=aidan@getaxiom.ca,riley@getaxiom.ca
RATE_LIMIT_WINDOW_SECONDS=900
RATE_LIMIT_MAX_AUTH=10
RATE_LIMIT_MAX_EXPORT=20
RATE_LIMIT_MAX_SCRAPE=3
SCRAPE_CONCURRENCY_LIMIT=1
SCRAPE_TIMEOUT_MS=600000
OUTREACH_DAILY_SEND_LIMIT=50
OUTREACH_SEND_DELAY_MS=3000
